{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f4f4f9;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 80%;
        max-width: 1200px;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        padding: 30px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 28px;
        color: #333;
        margin-bottom: 20px;
        font-weight: 700;
        text-align: center;
    }

    .itemlist, .item_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-right: 30px;
        font-weight: bold;
        border-bottom: 2px solid #ddd;
        margin-bottom: 5px;
        color: #444;
    }

    .itemlist div, .item_row div {
        flex: 1;
        padding: 10px;
        text-align: center;
    }

    .itemlist div:first-child, .item_row div:first-child {
        flex: 2;
    }

    .item_row {
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s;
    }

    .item_row:hover {
        background-color: #f0f8ff;
    }

    .item_row a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s;
    }

    .item_row a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    .additem-button {
        display: inline-block;
        padding: 12px 24px;
        margin: 20px 0;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        width: 100%; /* 幅を100%に設定 */
        box-sizing: border-box; /* パディングとボーダーを含む幅の計算 */
    }

    .additem-button:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: calc(100vh - 500px); /* 高さを設定してスクロールを可能にする */
        overflow-y: auto; /* 垂直スクロールを有効にする */
            }
</style>

<div class="container">
    <div class="box">
        <h1>備品一覧</h1>
        <a href="{% url 'Posts:itemregistration' %}" class="additem-button">備品を追加</a>
        <div class="itemlist">
            <div class="item-name">名前</div>
            <div class="item-category">カテゴリ</div>
            <div class="item-place">設置場所</div>
            <div class="item-quantity">在庫数</div>
            <div class="item-status">ステータス</div>
        </div>


        
        <ul>
            {% for post in itemlist %}
                <li>
                    <div class="item_row">
                        <div class="item-name">
                            <a href="{% url 'Posts:itemdetail' post.id %}">{{ post.name }}</a>
                        </div>
                        <div class="item-category">{{ post.category }}</div>
                        <div class="item-place">{{ post.location }}</div>
                        <div class="item-quantity">{{ post.stock_quantity }}</div>
                        <div class="item-status">
                            {% if post.status == "承認" %}
                                <span style="color: green;">{{ post.status }}</span>
                            {% elif post.status == "承認待ち" %}
                                <span style="color: red;">{{ post.status }}</span>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
