{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
<div class="container">
    <h1>{{ post.name }}</h1>
    <a href="{% url 'Posts:itemedit' post.pk %}" class="btn">編集</a>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.name }}" style="display: block; margin: 20px auto;">
    {% endif %}
    <p>説明: {{ post.description }}</p>
    <p>カテゴリ: {{ post.category }}</p>
    <p>
        ステータス: 
        {% if post.status == "承認" %}
            <span style="color: green;">{{ post.status }}</span>
        {% elif post.status == "承認待ち" %}
            <span style="color: red;">{{ post.status }}</span>
        {% endif %}
    </p>
    <p>設置場所: {{ post.location }}</p>
    <p>在庫数: {{ post.stock_quantity }}</p>

    {% if post.status == '承認' %}
        <h2>在庫数を変更</h2>
        <form method="post" action="{% url 'Posts:stock_quantity_update' post.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_stock_quantity">新しい在庫数:</label>
                <input type="number" id="id_stock_quantity" name="stock_quantity" value="{{ post.stock_quantity }}" min="0" required>
                <button type="submit" class="btn">更新</button>
            </div>
        </form>
        <div class="history">
            <h2>在庫数の変更履歴</h2>
             <!-- 最新の10個程度を表示したい -->
            {% for history in post.stockhistory_set.all|slice:":10" %}
            <li>{{ history.changed_at }}: 在庫数 {{ history.stock_quantity }}</li>
        {% empty %}
            <li>変更履歴はありません。</li>
        {% endfor %}
        </div>
    {% endif %}
    
<!-- 管理者のみ表示 -->

    <h2>承認依頼</h2>
    {% if post.status == '承認待ち' %}
        <div class="approval">
            <p>追加日時: {{ post.created_at }}</p>
            <p>ステータス: {{ post.status }}</p>
            <form method="post" action="{% url 'Posts:item_approve' post.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn">承認</button>
            </form>
        </div>
    {% else %}
        <p>承認されています。</p>
    {% endif %}
</div>
{% endblock content %}