{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 0;
        }
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .box {
            background-color: #fff;
            padding: 30px;
            margin: 15px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center; 
            border-radius: 10px;
            box-sizing: border-box;
            overflow: hidden;
        }

        .box h1 {
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 700;
            font-size: 28px;
            color: #333;
        }

        .login-container {
            width: 100%;
            max-width: 400px;
        }

        .login-row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            text-align: left;
        }

        .login-row label {
            width: 200px;
            font-size: 18px;
            font-weight: 500;
            color: #444;
            margin-right: 20px;
            text-align: right;
        }

        .login-row input {
            flex: 1;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 10px;
            font-size: 16px;
            color: #333;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .login-row input[readonly] {
            background-color: #e9ecef;
            cursor: not-allowed;
        }

        .login-container button {
            display: block;
            width: auto;
            padding: 12px 24px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 20px auto 0 auto;
            transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
            text-decoration: none;
        }

        .login-container button:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }

        .login-container p {
            text-align: center;
            margin-top: 20px;
        }

        .login-container a {
            color: #007bff;
            text-decoration: none;
        }

        .login-container a:hover {
            text-decoration: underline;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 5px;
            text-align: left;
            width: 100%;
            box-sizing: border-box;
        }
        
    </style>
    <title>ログイン - 備品管理システム</title>
    <div class="container">
        <div class="box">
            <h1>ログイン</h1>
            <form method="POST" class="login-container">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="login-row">
                    <label for="{{ form.username.id_for_label }}">ユーザー名:</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="login-row">
                    <label for="{{ form.password.id_for_label }}">パスワード:</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <button type="submit">ログイン</button>
            </form>
            <p>アカウントをお持ちでないですか？<a href="{% url 'users:sign_up' %}">登録はこちら</a></p>
            <p>パスワードを忘れた方はこちら: <a href="{% url 'users:password_reset' %}">パスワードリセット</a></p>
        </div>
    </div>
{% endblock content %}
