{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: calc(100vh - 40px);
    }

    .box {
        background-color: white;
        padding: 20px;
        margin: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 95%;
        max-width: 400px; /* 横幅の最大値を400pxに設定 */
        display: flex;
        flex-direction: column;
        align-items: center; 
        border-radius: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .box h2 {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px; /* ログインページに合わせたフォントサイズ */
        font-weight: normal;
    }

    .box form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .box form label {
        margin-bottom: 5px;
    }

    .box form input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .box form button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .box form button:hover {
        background-color: #0056b3;
    }

    .message-list {
        list-style-type: none;
        padding: 0;
        margin: 20px 0 0;
    }

    .message-list li {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="box">
        <h2>パスワードリセット</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
            </div>
            <button type="submit">リセットリンクを表示</button>
        </form>
        {% if messages %}
            <ul class="message-list">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}





