{% extends "base.html" %}
{% load static %}
{% block content %}

<title>ユーザー情報の編集</title>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        padding-top: 15px; 
    }

    .box {
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        border-radius: 10px;
    }

    .box h1 {
        text-align: center;
        font-weight: normal;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        justify-content: center; /* 中央寄せ */
        align-items: center;
        margin-bottom: 15px;
        flex-direction: column;
    }

    .form-group small {
        color: #666;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 60%;
    }

    .form-group input[type="checkbox"] {
        margin-right: 5px;
    }

    .form-group button {
        display: block;
        width: auto;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin: 20px auto 0 auto;
    }

    .form-group button:hover {
        background-color: #0056b3;
    }

    .divider {
        margin: 30px 0;
        text-align: center;
        color: #888;
    }
</style>

<body>
    <div class="container">
        <div class="box">
            <h1>ユーザー情報の編集</h1>
            <!-- ユーザー情報編集フォーム -->
            <form method="POST" action="{% url 'users:useredit' pk=object.pk %}" name="user_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">ユーザー名:</label>
                    {{ form.username }}
                    {% if form.username.help_text %}
                        <small>{{ form.username.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">メールアドレス:</label>
                    {{ form.email }}
                </div>
                {% if form.delete_user %}
                <div class="form-group">
                    <label>{{ form.is_staff }} スタッフ: ユーザーが管理サイトにログイン可能かどうかを示します。</label>
                </div>
                <div class="form-group">
                    <label>{{ form.is_superuser }} 管理者: 全ての権限を持っているとみなされます。</label>
                </div>
                <div class="form-group">
                    <label>{{ form.delete_user }} このユーザーを削除する</label>
                </div>
                {% endif %}
                <div class="form-group">
                    <button type="submit" name="update_user">保存</button>
                </div>
            </form>

            <div class="divider">または</div>

            <!-- パスワード変更フォーム -->
            <h1>パスワードの変更</h1>
            <form method="POST" action="{% url 'users:useredit' pk=object.pk %}" name="password_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_password">現在のパスワード:</label>
                    {{ password_form.old_password }}
                    {% if password_form.old_password.help_text %}
                        <small>{{ password_form.old_password.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="new_password1">新しいパスワード:</label>
                    {{ password_form.new_password1 }}
                    {% if password_form.new_password1.help_text %}
                        <small>{{ password_form.new_password1.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="new_password2">新しいパスワードの確認:</label>
                    {{ password_form.new_password2 }}
                    {% if password_form.new_password2.help_text %}
                        <small>{{ password_form.new_password2.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" name="change_password">パスワードを変更</button>
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock content %}
